.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
background: #2B2A2D;
text-align: left;

}

.logo {
  background-image: url(./assets/Logo\ \(2\).svg);
  background-color: #2B2A2D;
  width: 182px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.wrapper nav {
  display: flex;

}

.wrapper nav p {
  font: 400 16px "Montserrat";
  color: #ffffff;
  margin-right: 60px;

}


.wrapper .icons{
    background-image: url(./assets/icons.svg);
    background-color: #2B2A2D;
    width: 120px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;

}
